@model SmartCargoTransportation.Areas.Admin.ViewModels.EditUserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EditUserViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Users">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input type="text" asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

